.bg_grad{
      background: rgb(219,232,230);
    /*background: linear-gradient(93deg, rgba(219,232,230,0.97) 0%, rgba(219,232,230,0.97) 5%, rgba(229,241,255,0.7777311608237045) 31%, rgba(255,255,255,1) 94%);*/
     background: linear-gradient(66deg, rgba(204,195,254,1) 0%, rgba(229,229,247,1) 20%, rgba(235,237,245,1) 34%, rgba(235,237,245,1) 67%, rgba(190,232,228,1) 94%, rgba(119,223,200,1) 100%);
     /* background-image:  url("img/SCI-FI1.jpeg");
     background-repeat: no-repeat;
     background-size: 100%; */
}

.bg1 {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    margin: 0px;
    /* padding: 150px; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-radius: 10px; */

    /* background-color: #ffffffb0; */
}

/* .bg2 {
  position: fixed;
  z-index: -950;
  width: 100%;
  height: 100%;
  margin: 15px;
  background-color: #ffffffb0;
  border-radius: 10px;
} */

.bg3 {
    /* position: fixed;
    z-index: -1000; */
    width: 100%;
    height: 100%;
    /* margin-left: -17rem; */
    margin-left: -15;
    margin-right: 15;
    margin-top: 15;
    margin-bottom: 15;
    /* margin: 0px; */


    /* padding: 15px; */
    border-radius: 10px;
    background-color: #ffffffb0;
    /* background-color: #ffffffb0; */
}

.bg4 {
    /* position: fixed;
    z-index: -1000; */
    width: 100%;
    height: 100%;
    /* margin-left: -17rem; */
    margin-left: -15;
    margin-right: 15;
    margin-top: 15;
    margin-bottom: 15;
    /* margin: 0px; */


    /* padding: 15px; */
    border-radius: 10px;
    background-color: #ffffffb0;
    /* background-color: #ffffffb0; */
}