
body{
    font-family: arial,sans-serif;
}

.search-row{
    width: 584px;
    position: relative;
margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
padding-top: 6px;
}
.query-text-row{
    background: #fff;
background-color: rgb(255, 255, 255);
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-attachment: scroll;
background-image: none;
background-size: auto;
background-origin: padding-box;
background-clip: border-box;
display: flex;
border: 1px solid #dfe1e5;
border-top-color: rgb(223, 225, 229);
border-top-style: solid;
border-top-width: 1px;
border-right-color: rgb(223, 225, 229);
border-right-style: solid;
border-right-width: 1px;
border-bottom-color: rgb(223, 225, 229);
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(223, 225, 229);
border-left-style: solid;
border-left-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
box-shadow: none;
border-radius: 24px;
z-index: 3;
height: 44px;
margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
width: 260px;
}
.box-q-inp{
olor: transparent;
flex: 100%;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 100%;
white-space: pre;
height: 34px;
}
.box-query-text-input{
background-color: transparent;
border: none;
margin: 0;
margin-top: 0px;
padding: 0;
color: rgba(0,0,0,.87);
word-wrap: break-word;
outline: none;
display: flex;
flex: 100%;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 100%;
/* tap-highlight-color: transparent; */
margin-top: 0px;
/* margin-top: -37px; */
/* height: 34px; */
font-size: 16px;
}     
.query-text-input{

font: 16px arial,sans-serif;
font-size: 16px;
line-height: normal;
line-height: 34px;
height: 34px !important;
}
.search-form {
margin-top: 0;
top: 269px;
position: absolute;
min-width: 980px;
z-index: 127;
width: 100%;
}
.box-query-text{
display: flex;
flex: 1;
flex-wrap: wrap;
}
.box-SDkEP{
flex: 1;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0%;
display: flex;
padding: 5px 8px 0 16px;
padding-top: 5px;
padding-right: 8px;
padding-bottom: 0px;
padding-left: 16px;
padding-left: 14px;
}
.box-lens{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -3px;
    background-color: #6cb1bc2e;
    border-radius: 25px;
    height: 38px;
}
.span-lens{
margin-top: 3px;
color: #9aa0a6;
height: 20px;
width: 20px;
display: inline-block;
fill: currentColor;
height: 24px;
line-height: 24px;
position: relative;
width: 24px;
}
.box-search-botton-row{
width: 571px;
height: 70px;
padding-top: 18px;
}
.button-gs{
background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
background-color: #f2f2f2;
border: 1px solid #f2f2f2;
border-radius: 4px;
color: #5F6368;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
}