body {
    /* margin: 0; */
    /* background-color: white; */
    /* background: linear-gradient(45deg, rgba(224,218,255,1) 0%, rgba(229,229,247,1) 9%, rgba(235,237,245,1) 22%, rgba(235,237,245,1) 88%, rgba(190,232,228,1) 97%, rgba(191,244,232,1) 100%); */
    background: linear-gradient(45deg, rgba(224,218,255,1) 0%, rgba(241,241,250,1) 6%, rgba(239,240,245,1) 22%, rgba(238,240,246,1) 88%, rgba(221,240,238,1) 97%, rgba(191,244,232,1) 100%);

}

.bg {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    margin: 15px;
    background-color: #ffffffb0;
    border-radius: 10px;
}

/* .row {
    margin-right: 0px;
    margin-left: 0px;
} */

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    /* height: 90vh; */
    height: 80%;
    width: 80%;
    padding: 20px;
}

#editor #id_content textarea {
    height: 80%;
    width: 80%;
    padding: 20px;
}


#editor #id_page_title_name p .charfield input{
    width: 100%;
    margin: 10px;
    padding: 5px;
}

#editor div .btn btn-save button {
    width: 200px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

/* .main {
    padding: 30px;
} */


/* .search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
    border-radius: 10px; */
    /* border-style: solid; */
/* } */

/* .sidebar { */
    /* background-color: #f0f0f0; */
    /* height: 100vh; */
    /* padding: 25px; */
    /* border-right-style: outset 1px; */
    
/* } */

.l_side_bar{
    /* border-inline: 2px; */
    border-style: hidden double hidden hidden;
}

.page_frame{
    margin-top: 40px;
    margin-bottom: 40px;
    border-left-width: 1px;
    /* border-left-style: solid; */
    border-left-style: double;
}


.sidebar h2 {
    margin-top: 5px;
}

/* .btn{
    width: 60%;
    margin: 5px;
} */

code {
    margin: 0;
    padding: 5px;
    background-color: gray;
    color: white;
}