{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia editor
{% endblock %}

{% block body %}
    <br>
    {% if action == True %}
        <h1>Page edit <b>{{ page_title }}</b></h1>
    {% elif action == False %}
        <h1>Create <b>New page</b></h1>
    {% endif %}

<div id="editor" class="editor col-md-12">
            {% include 'encyclopedia/messages.html' %}         
            {% if action == True %}
        <form action="{% url 'encyclopedia:edit' page_title %}" method="POST" class="form-horizontal form-bordered">            
            <input name="title_name"  type="text"  maxlength="200" required id="title_name" value="{{ page_title }}" hidden >
       
            {% elif action == False %}
        <form action="{% url 'encyclopedia:create' page_title %}" method="POST"  class="form-horizontal form-bordered">     
            <input name="title_name"  type="text"  maxlength="200" required id="title_name" value="" class="form-control">

            {% endif %}
            <br>
            <br>
            <textarea  name="content"  cols="40" rows="10" required="" id="content" spellcheck="false" class="form-control">{{ pure_content | safe }}</textarea>
            <br>
            <br>
            {% csrf_token %}
            <button class="btn btn-primary" type="submit", name="save">Save edition</button>
            <br>
        </form>
        <br>
        <a class="btn btn-primary"  href="{% url 'encyclopedia:index' %}">Cancel</a>
</div>
{% endblock %}
