{% extends "encyclopedia/layout.html" %}

{% block title %}
   Wiki as Encyclopedia Home page
{% endblock %}

{% block body %}

<div class="col-md-12 center">
    <h2 class="mt-xlg mb-none"><strong>Wiki</strong> encyclopedia</h2>
    <p class="lead">welcome <span class="alternative-font font-size-xl">...all demos included!</span></p>
</div>

<div class="col-md-12">
<div class="heading heading-border heading-middle-border">
    <h2>All <strong>Pages</strong></h2>
</div>
</div>

    <h1></h1>

    <ul>
        {% for entry in entries %}
            <li><a href="{{ entry }}">{{ entry }}</a> </li>
            {% empty %}
            <li>no pages</li>
        {% endfor %}
    </ul>

{% endblock %}