{% load static %}

<!DOCTYPE html>

<html lang="en" class="side-header">

<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>

    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="AlexSonar">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'encyclopedia/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'encyclopedia/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'encyclopedia/vendor/font-awesome/css/font-awesome.min.css' %}">
    <!-- <link rel="stylesheet" href="vendor/animate/animate.min.css"> -->
    <link rel="stylesheet" href="{% static 'encyclopedia/vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
    <!-- <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css"> -->
    <link rel="stylesheet" href="{% static 'encyclopedia/vendor/theme/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'encyclopedia/vendor/theme/css/theme-elements.css' %}">


    <!-- Theme CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <link href="{% static 'encyclopedia/main.css' %}" rel="stylesheet">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'encyclopedia/vendor/theme/css/main.css' %}" rel="stylesheet"> -->

</head>

<body class="bg_grad">
    <div class="bg1 bg_grad">
        <div class="bg3"></div>
    </div>
    <div class="body">
        <header id="header"
            data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': true, 'stickyStartAt': 57, 'stickySetTop': '-57px', 'stickyChangeLogo': true}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a href="{% url 'encyclopedia:index' %}">
                                    <img alt="wiki-encyclopedia-logo" width="111" height="54" data-sticky-width="82"
                                        data-sticky-height="40" data-sticky-top="33"
                                        src="{% static 'encyclopedia/img/wiki-logo.png' %}">
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-search hidden-xs">
                                    <form method="GET" id="searchForm" action="{% url 'encyclopedia:search' %}">
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="q" name="q"
                                                value="{{ request.GET.q }}" maxlength="200" spellcheck="false"
                                                autocapitalize="off" role="combobox" placeholder="Search Encyclopedia">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><i
                                                        class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <br>
                            </div>
                            <div class="header-row">
                                <div class="header-nav">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                        data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div
                                        class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="dropdown active">
                                                    <a class="dropdown-toggle" href="{% url 'encyclopedia:index' %}">
                                                        Home
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="{% url 'encyclopedia:create' 'new' %}">
<!--                                                    <a href="{% url 'encyclopedia:edit' 'new' %}">-->
                                                        Create New Page
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="{% url 'encyclopedia:random' %}">
                                                        Random Page
                                                    </a>
                                                </li>
                                                <!-- <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#">
                                                        Categories
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-submenu">
                                                            <a href="#">Headers</a>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown-submenu">
                                                                    <a href="#">Default</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="#">Default</a></li>
                                                                        <li><a href="#">Default + Language Dropdown</a>
                                                                        </li>
                                                                        <li><a href="#">Default + Big Logo</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li> -->
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- <ul class="header-social-icons social-icons hidden-xs hidden-sm">
                                        <li class="social-icons-facebook"><a href="http://www.facebook.com/"
                                                target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li class="social-icons-twitter"><a href="http://www.twitter.com/"
                                                target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/"
                                                target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">

            {% block nav %}
            {% endblock %}

            <div class="main col-lg-10 col-md-9 page_frame">
                
                {% block body %}
                {% endblock %}

            </div>
        </div>
    </div>

    <!-- Vendor -->
    <script src="{% static 'encyclopedia/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'encyclopedia/vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/jquery-cookie/jquery-cookie.min.js"></script>

    <script src="vendor/common/common.min.js"></script>
    <script src="vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="vendor/isotope/jquery.isotope.min.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="vendor/vide/vide.min.js"></script> -->

    <!-- Theme Base, Components and Settings -->
    <!-- <script src="js/theme.js"></script> -->

    <!-- Current Page Vendor and Views -->
    <!-- <script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
    <script src="js/views/view.home.js"></script> -->

    <!-- Theme Custom -->
    <!-- <script src="js/custom.js"></script> -->

    <!-- Theme Initialization Files -->
    <!-- <script src="js/theme.init.js"></script> -->


</body>

</html>