{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} ma" id="msg" role="alert">
            {{ message |safe  }}
            <br>
            <br>
            <div> 
                <a class="btn btn-primary" href="{% url 'encyclopedia:edit' page_title %}">Edit <b>{{ page_title }}</b> page</a> 
            </div>
        </div>
    {% endfor %}
{% endif %}    