{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia {{ page_title  }}
{% endblock %}

{% block body %}
    {% if exist %}
<!--edit/{{ page_title }}&action=edit-->
    <div> 
        <a class="btn btn-primary" href="{% url 'encyclopedia:edit' page_title %}">Edit <b>{{ page_title }}</b> page</a> 
    </div>
    
        {{ page_content |safe }}      
        <form action="q">

        </form>
        
    {% else %}
        <H1> No </H1>
        <h1>All Pages</h1>
        <ul>
            {% for entry in entries %}
            <li><a href="{{entry}}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
