{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h2>404 Page </h2>
    <h1>Oops!</h1>
    <h3>The page you requested was not found!</h3>
    <br>
    <br>
    <h4>You might be interested in {{ count }} pages, further below:</h4>    
    <br>
    <ul>
        {% for entry in entries %}
        <li><a href="{{ entry }}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}