body {
    /* background: linear-gradient(66deg, rgba(204,195,254,1) 0%, rgba(229,229,247,1) 20%, rgba(235,237,245,1) 34%, rgba(235,237,245,1) 67%, rgba(190,232,228,1) 94%, rgba(119,223,200,1) 100%); */
    background: linear-gradient(45deg, rgba(224,218,255,1) 0%, rgba(229,229,247,1) 9%, rgba(235,237,245,1) 22%, rgba(235,237,245,1) 88%, rgba(190,232,228,1) 97%, rgba(191,244,232,1) 100%);
    margin: 0;
    
}

.bg{
    width: 100%;
    height: 100%;
    margin: 15px;
    background-color: #ffffffad;
    border-radius: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    /* height: 90vh; */
    height: 80%;
    width: 80%;
    padding: 20px;
}

#editor #id_content textarea {
    height: 80%;
    width: 80%;
    padding: 20px;
}


#editor #id_page_title_name p .charfield input{
    width: 100%;
    margin: 10px;
    padding: 5px;
}

#editor div .btn btn-save button {
    width: 200px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.main {
    padding: 30px;
}


.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
    
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 25px;
}

.sidebar h2 {
    margin-top: 5px;
}

.btn{
    width: 60%;
    margin: 5px;
}