<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="styles _m.css" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'encyclopedia/img/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <div class="bg">
        <div class="row">
            <div class="../../sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <form method="GET" action="{% url 'encyclopedia:search' %}">
                    <input class="search" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search Encyclopedia">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
                <div>
                    <a class="btn btn-info"  href="{% url 'encyclopedia:index' %}">Home</a>
                </div>
                <div>
                    <a class="btn btn-info" href="{% url 'encyclopedia:editor' %}">Create New Page</a>
                </div>
                <div>
                    <a class="btn btn-info" href="{% url 'encyclopedia:random' %}">Random Page</a>
                    
                </div>
                block nav
                
            </div>
            <div class="main col-lg-10 col-md-9">
                block body
              
            </div>
        </div>
</div>
    </body>
</html>